@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&family=Poppins:ital,wght@0,400;0,900;1,400;1,900&family=Roboto:wght@100;400;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto" sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-size: cover;
  display: flex;
}

.picture-1 {
  background-image: url("images/healthy-food.jpg");
}

.picture-2 {
  background-image: url("images/excercise.jpg");
}

.picture-3 {
  background-image: url("images/sleep.jpg");
}

.picture-4 {
  background-image: url("images/smoke.jpg");
}

.picture-5 {
  background-image: url("images/stress.jpg");
}
