@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&family=Poppins:ital,wght@0,400;0,900;1,400;1,900&family=Roboto:wght@100;400;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto" sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9ecec;
}

h3 {
  margin: 0;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #f0d9da;
  opacity: 0;
  font-size: 24px;
}

.active h3 {
  opacity: 1;
}

.container {
  display: flex;
  width: 90vw;
  justify-content: center;
}

.panel {
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  height: 80vh;
  flex: 0.1;
  color: #240747;
  position: relative;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.panel.active {
  clip-path: none;
  flex: 0.5;
  border-radius: 50px;
}

.picture-1,
.picture-3,
.picture-5 {
  clip-path: polygon(50% 0, 0% 100%, 100% 100%);
}

.picture-2,
.picture-4 {
  clip-path: polygon(100% 0, 0 0, 50% 100%);
}

.picture-1 {
  background-image: url("images/healthy-food.jpg");
}

.picture-2 {
  background-image: url("images/excercise.jpg");
}

.picture-3 {
  background-image: url("images/sleep.jpg");
}

.picture-4 {
  background-image: url("images/smoke.jpg");
}

.picture-5 {
  background-image: url("images/stress.jpg");
}
